<div class="padding" ng-controller="ArticlesController">

	<super-navbar>
		<super-navbar-title>
			Articles
		</super-navbar-title>
	</super-navbar>

	<div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
		<div class="list">
			<super-navigate location="brazilUnknown#show" data-params-url="{{ article.url }}" data-params-title="{{ article.title }}" ng-repeat="article in articles">
				<a class="item item-thumbnail-left">
					<img src="{{ article.image }}" height="78px" width="80px">
					<h4 ng-bind="article['title']"></h4>
					<p ng-bind="article['date']"></p>
				</a>
			</super-navigate>
		</div>
	</div>

</div>