<div class="padding" ng-controller="ArticlesController">

	<super-navbar>
		<super-navbar-title>
			Articles
		</super-navbar-title>
	</super-navbar>

	<div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
		<div class="list">
			<a class="item item-thumbnail-left" href="home.html" data-params-url="{{ article.url }}" ng-repeat="article in articles">
				<img src="{{ article.image }}" height="78px" width="80px">
				<h4 ng-bind="article['title']"></h4>
				<p ng-bind="article['date']"></p>
			</a>
		</div>
	</div>

</div>